@model L02P2_2021GB650_2021CZ601.Models.pedido_encabezado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pedido_encabezado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad_libros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad_libros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
